// Apply a natural box layout model to all elements.
// http://paulirish.com/2012/box-sizing-border-box-ftw/
*
  box-sizing: border-box

/* Move down content because we have a fixed navbar that is 50px tall */
body
  background #f5f6f7
  padding-top 50px
  padding-bottom 20px
