<div class="row">
  {{#each items}}
  <div class="col-md-4">
    <h2>{{this.heading}}</h2>
    <p>{{this.content}}</p>
    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
  </div>
  {{/each}}
</div>
